
.about-us * {
  box-sizing: border-box;
}
.about-us {
  background: linear-gradient(
    180deg,
    rgba(64, 85, 125, 1) 0%,
    rgba(5, 17, 31, 1) 100%
  );
  height: 943px;
  position: relative;
  overflow: hidden;
}
.pena-aktual-hadir-sebagai-media-yang-mengutamakan-informasi-cepat-akurat-dan-mudah-dipahami-di-tengah-derasnya-arus-berita-digital-nama-ini-dipilih-karena-mencerminkan-semangat-jurnalistik-yang-mengedepankan-ketajaman-pena-serta-komitmen-terhadap-informasi-yang-benar-benar-aktual-sebagai-media-yang-berorientasi-edukatif-dan-informatif-pena-aktual-berusaha-menyediakan-konten-yang-relevan-bagi-berbagai-kalangan-pembaca-pena-aktual-menyajikan-beberapa-rubrik-yang-disusun-secara-ringkas-dan-tepat-sasaran-rubrik-kuliner-memberikan-informasi-seputar-makanan-dan-tren-kuliner-untuk-memenuhi-minat-pembaca-serta-mendukung-perkembangan-umkm-rubrik-profil-menampilkan-kisah-inspiratif-dari-berbagai-tokoh-yang-dapat-memotivasi-pembaca-rubrik-sport-menyajikan-perkembangan-dunia-olahraga-secara-padat-dan-aktual-rubrik-soft-news-menghadirkan-berita-ringan-dan-human-interest-sebagai-penyeimbang-dalam-konsumsi-informasi-sementara-itu-rubrik-hard-news-menjadi-pilar-utama-penyampaian-peristiwa-penting-dan-mendesak-yang-membutuhkan-laporan-cepat-dan-faktual-dengan-susunan-rubrikasi-tersebut-pena-aktual-berkomitmen-menjadi-media-yang-informatif-kredibel-dan-dekat-dengan-kebutuhan-masyarakat {
  color: #ffffff;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 338px;
  width: 1187px;
  height: 315px;
}
.tentang-kami {
  color: #ffffff;
  text-align: justified;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 800;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 225px;
}
.about-us2 {
  background: #ffffff;
  width: 2180px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 712px;
}
.pt-pena-aktual-network-pena-aktual {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 600;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 887px;
  width: 346px;
  height: 32px;
}
.home {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 458px;
  top: 769px;
}
.about-us3 {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 828px;
  top: 780px;
}
.news {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 458px;
  top: 791px;
}
.features {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 458px;
  top: 813px;
}
.articles {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 458px;
  top: 835px;
}
.channel {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 700;
  position: absolute;
  left: 458px;
  top: 742px;
}
.company-profile {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 700;
  position: absolute;
  left: 828px;
  top: 742px;
}
.header {
  background: #ffffff;
  width: 2180px;
  height: 156px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.search {
  width: 280px;
  height: 29px;
  position: absolute;
  left: 1550px;
  top: 64px;
}
.search2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Thin", sans-serif;
  font-size: 14px;
  font-weight: 100;
  position: absolute;
  right: 50%;
  left: 2.94%;
  width: 47.06%;
  bottom: 20.69%;
  top: 17.24%;
  height: 62.07%;
}
group-2:hover{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    text-decoration: underline #313647;
}
.group-2 {
  height: auto;
  position: absolute;
  left: 1790px;
  top: 73.0px;
  transform: translate(0px, -4.9px);
  overflow: visible;
}
.logo {
  width: 167px;
  height: 105px;
  position: absolute;
  right: calc(50% - -750px);
  top: 24px;
  object-fit: cover;
  aspect-ratio: 167/105;
}
.search-box {
  border: 2px solid #203b5c;
  border-radius: 40px;
  padding: 6px 14px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 160px;
}


.nav-menu {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 55px 610px;
  background-color: none;
}


.nav-item {
  font-family: "Inter", sans-serif;
  font-weight: 800; 
  font-size: 24px;
  color: #203B5C;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  display: inline-block;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #203B5C;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:hover {
  color: #0c2442;
  cursor: pointer;
}
