.beranda,
.beranda * {
  box-sizing: border-box;
}
.beranda {
  background: linear-gradient(
    180deg,
    rgba(64, 85, 125, 1) 0%,
    rgba(5, 17, 31, 1) 100%
  );
  height: 1270px;
  position: relative;
  overflow: hidden;
}
.about-us {
  background: #ffffff;
  width: 2180px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 1039px;
}
.pt-pena-aktual-network-pena-aktual {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 600;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1214px;
  width: 346px;
  height: 32px;
}
.home {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 458px;
  top: 1096px;
  transition: 0.2;
  text-decoration: underline #0c2442;
}
.about-us2 {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 828px;
  top: 1107px;
}
.news {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 458px;
  top: 1118px;
}
.features {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 458px;
  top: 1140px;
}
.articles {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 500;
  position: absolute;
  left: 458px;
  top: 1162px;
}

.channel {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 700;
  position: absolute;
  left: 458px;
  top: 1069px;
}
.company-profile {
  color: #203b5c;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 138.9%;
  font-weight: 700;
  position: absolute;
  left: 828px;
  top: 1069px;
}
.trending {
  background: linear-gradient(
    0deg,
    rgba(12, 36, 66, 1) 0%,
    rgba(33, 49, 75, 0) 100%
  );
  width: 348px;
  height: 337px;
  position: absolute;
  left: 994px;
  top: 633px;
}
.dari-iseng-bikin-konten-nabila-rhohimah-kini-jadi-inspirasi-banyak-orang {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  position: absolute;
  left: 1043px;
  top: 660px;
  width: 299px;
}
.dipergoki-warga-saat-mapping-subuh-dua-orang-tak-dikenal-diamankan-di-rawakalong {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 1043px;
  top: 770px;
  width: 299px;
}
.numbering {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  position: absolute;
  left: 1010px;
  top: 660px;
  width: 24px;
}
.komunitas-sepeda-yang-mengayuh-silaturahmi-dan-kesehatan-di-depok {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 1043px;
  top: 880px;
  width: 299px;
}
.trending2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 800;
  position: absolute;
  left: 1010px;
  top: 610px;
}
.foto-berita-pengendara {
  width: 1244px;
  height: 347px;
  position: absolute;
  left: 98px;
  top: 219px;
  object-fit: cover;
  aspect-ratio: 1244/347;
}
.gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(12, 36, 66, 1) 100%
  );
  width: 1244px;
  height: 347px;
  position: absolute;
  left: 98px;
  top: 219px;
}
.pengendara-lebih-tenang-jalan-ambles-di-cisalak-akhirnya-diperbaiki {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  position: absolute;
  left: 128px;
  top: 410px;
  width: 656px;
}
.rectangle-caption-dipergok {
  background: #0c2442;
  width: 264px;
  height: 143px;
  position: absolute;
  left: 677px;
  top: 827px;
}
.rectangle-caption-nabila {
  background: #0c2442;
  width: 264px;
  height: 143px;
  position: absolute;
  left: 388px;
  top: 827px;
}
.rectangle-caption-sepeda {
  background: #0c2442;
  width: 264px;
  height: 143px;
  position: absolute;
  left: 98px;
  top: 827px;
}
.depok-dipergoki-warga-saat-mapping-subuh-dua-orang-tak-dikenal-diamankan-di-rawakalong-selengkapnya {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 687px;
  top: 844px;
  width: 249px;
  height: 121px;
}
.depok-dipergoki-warga-saat-mapping-subuh-dua-orang-tak-dikenal-diamankan-di-rawakalong-selengkapnya-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.depok-dipergoki-warga-saat-mapping-subuh-dua-orang-tak-dikenal-diamankan-di-rawakalong-selengkapnya-span2 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.depok-dipergoki-warga-saat-mapping-subuh-dua-orang-tak-dikenal-diamankan-di-rawakalong-selengkapnya-span3 {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}
.depok-dari-iseng-bikin-konten-nabila-rhohimah-kini-jadi-inspirasi-banyak-orang-selengkapnya {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 398px;
  top: 844px;
  width: 249px;
  height: 124px;
}
.depok-dari-iseng-bikin-konten-nabila-rhohimah-kini-jadi-inspirasi-banyak-orang-selengkapnya-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.depok-dari-iseng-bikin-konten-nabila-rhohimah-kini-jadi-inspirasi-banyak-orang-selengkapnya-span2 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.depok-dari-iseng-bikin-konten-nabila-rhohimah-kini-jadi-inspirasi-banyak-orang-selengkapnya-span3 {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}
.depok-komunitas-sepeda-yang-mengayuh-silaturahmi-dan-kesehatan-di-depok-selengkapnya {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 108px;
  top: 844px;
  width: 249px;
  height: 102px;
}
.depok-komunitas-sepeda-yang-mengayuh-silaturahmi-dan-kesehatan-di-depok-selengkapnya-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.depok-komunitas-sepeda-yang-mengayuh-silaturahmi-dan-kesehatan-di-depok-selengkapnya-span2 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.depok-komunitas-sepeda-yang-mengayuh-silaturahmi-dan-kesehatan-di-depok-selengkapnya-span3 {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}
.foto-dipergok {
  width: 264px;
  height: 175px;
  position: absolute;
  left: 677px;
  top: 660px;
  object-fit: cover;
  aspect-ratio: 264/175;
}
.foto-bila {
  width: 264px;
  height: 175px;
  position: absolute;
  left: 388px;
  top: 660px;
  object-fit: cover;
  aspect-ratio: 264/175;
}
.foto-sepeda {
  width: 264px;
  height: 175px;
  position: absolute;
  left: 98px;
  top: 660px;
  object-fit: cover;
  aspect-ratio: 264/175;
}
.berita-terkini {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 800;
  position: absolute;
  left: 98px;
  top: 610px;
}
.header {
  background: #ffffff;
  width: 2180px;
  height: 156px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.search {
  width: 280px;
  height: 29px;
  position: absolute;
  left: 1550px;
  top: 64px;
}
.search2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Thin", sans-serif;
  font-size: 14px;
  font-weight: 100;
  position: absolute;
  right: 50%;
  left: 2.94%;
  width: 47.06%;
  bottom: 20.69%;
  top: 17.24%;
  height: 62.07%;
}
group-2:hover{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    text-decoration: underline #313647;
}
.group-2 {
  height: auto;
  position: absolute;
  left: 1790px;
  top: 73.0px;
  transform: translate(0px, -4.9px);
  overflow: visible;
}

.logo {
  width: 167px;
  height: 105px;
  position: absolute;
  right: calc(50% - -750px);
  top: 24px;
  object-fit: cover;
  aspect-ratio: 167/105;
}
.search-box {
  border: 2px solid #203b5c;
  border-radius: 40px;
  padding: 6px 14px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 160px;
}

/* Container menu */
.nav-menu {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 55px 610px;
  background-color: none;
}

/* Item menu */
.nav-item {
  font-family: "Inter", sans-serif;
  font-weight: 800; /* Extra Bold */
  font-size: 24px;
  color: #203B5C;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  display: inline-block;
}

/* Hover effect */
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #203B5C;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:hover {
  color: #0c2442;
  cursor: pointer;
}
